<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>안녕하세요 {{name}} 입니다.</h1>
    <p>좋아하는 음식은 <a href=
        "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.10000recipe.com%2Frecipe%2F6989824&psig=AOvVaw06FdC87ucF8t2QVpHcjk3V&ust=1741153119874000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCLiznPva74sDFQAAAAAdAAAAABAE">
    {{food}} </a> 입니다.</p>
</body>
</html>